@charset "utf-8";
:root {
  --morado: #4a0a77;
  --moradoOscuro: #310055;
  --moradoGris: #c8b1e4;
  --moradoBlanco: #dc97ff;
  --fuente: 'Quicksand', sans-serif;
}

body {
  background-image: url("../imagenes/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--fuente);
  color: var(--moradoOscuro);
  display: flex;
  align-items: center;
  height: 100vh;
}

.contenedor {
  width: 95%;
  height: auto;
  display: flex;
  align-items: stretch;
  justify-content: center;
}


.logo {
    width: 60%;
    height: 100%;
    flex:1;
    align-items: center;
    display: flex;
    margin: 0 auto;
    margin-left: 0;
    background-color: var(--moradoOscuro);
    border-radius: 10px;
    min-height: 500px;
    max-width: 600px;
    padding: 0.5%;
  }

  .logo img {
    width:80%;
    margin: auto;
  }
  
  .login {
    width: 25%;
    height: 100%;
    margin: 0 auto;
    margin-right: 0;
    background-color: white;
    text-align: center;
    padding: 0.5%;
    border-radius: 3px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    min-height: 500px;
  }
  
  .inicioSesion {
    width: 95%;
    height: 5vh;
    border-radius: 5px;
    border: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    background-color: rgba(255, 255, 255, 0.601);
    padding-left: 3%;
  }
  
  .titleLogin {
    font-weight: bold;
    position: relative;
    text-align: left;
    left: 10%;
    display: block;
    margin-top: 8%;
    margin-bottom: -2%;
  }
  
  .inicioSesion:focus {
    outline: none;
    border: 1px solid #4c00ff;
    box-shadow: 0 0 5px rgba(25, 0, 255, 0.5);
  }
  
  .tooltip {
    width: 80%;
    height: 4vh;
    display: inline-block;
    text-align: left;
    margin: auto;
    margin-top: 0;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
  }
  
  .tooltiptext {
    width: 200px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  
  .boton {
    position: relative;
    bottom: 0;
    width: 80%;
    height: 5vh;
    border: 0;
    background-color: var(--morado);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
    color:aliceblue;
    font-size: 150%;
  }
  
  .boton:hover {
    width: 81%;
    background-color: var(--moradoBlanco);
    cursor: pointer;
    color: black;
  }

  a {
    color:blue;
  }
  input.error {
    border: 2px solid red; 
    background-color: #fdd; 
  }
  
  