body {
    background-image: url("../imagenes/fondo_servicios.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo {
    font-family: "Quicksand",sans-serif;
}

.codigo {
    width: 150px; 
    height: 150px;
    background-image: url("../imagenes/codigoQR.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.qr{
    width: 100px; 
    height: 100px;
    background-image: url("../imagenes/codigoQR.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.botonE:hover {
    background-color: rgb(135, 211, 169);
}

.botonR:hover {
    background-color: rgb(211, 135, 135);
}

#modalAgregar {
    position: fixed;
    top: 120px; 
    left: 50%;
    transform: translateX(-50%) translateY(-30px); 
    opacity: 0;
    animation: bajar 0.5s ease-out forwards;
}

#modalAgregar::backdrop {
    background-color: rgba(0, 0, 0, 0.55);
    animation: oscurecer 0.5s ease-out forwards;
}

@keyframes bajar {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(-50px); 
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0); 
    }
}

@keyframes subir {
    from {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    to {
        opacity: 0;
        transform: translateX(-50%) translateY(-50px); 
    }
}

@keyframes oscurecer {
    from {
        background-color: rgba(0, 0, 0, 0); /* Fondo transparente al principio */
    }
    to {
        background-color: rgba(0, 0, 0, 0.55); /* Fondo oscuro al final */
    }
}



